body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Page title */
.site-title {
  font-size: 3.0em;
  font-weight: bold;
  margin: 0.25em 0 0.5em 0;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 1em;
}

.progress {
  margin: 1em auto;
  width: 500px;
  display: none;
}

.progressbar {
  position: relative;
  width: 492px;
  border: 1px solid black;
  padding: 3px;
  margin: 2px 0px;
}

.progresstext {
  position: absolute;
  width: 492px;
  margin: 3px 0px;
  text-align: center;
  font-size: 0.7em;
}

.progressfill {
  height: 20px;
  background-color: lightgreen;
  width: 0%;
}

.sorter {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-gap: 5px;
  width: 420px;
}

.button {
  border: 1px solid black;
  text-align: center;
  padding: 10%;
  grid-column: 2 / 3;
  cursor: pointer;
}

.starting.start.button {
  grid-row: span 6;
}

.starting.load.button {
  grid-row: span 3;
  display: none;
}

.sorting.button, .finished.button {
  grid-row: span 2;
  display: none;
}

.loading.button {
  grid-row: span 6;
  display: none;
}

.loading.button > div {
  width: 25px;
  height: 25px;
  margin: 50px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* Animation taken from: http://tobiasahlin.com/spinkit/ */

.loading.button > span {
  margin: auto auto 20%;
  font-size: 0.7em;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.sorter > .image {
  width: 120px;
  height: 180px;
  margin: auto;
  grid-row: 1 / 7;
  cursor: pointer;
}

.sorter > .text {
  width: 120px;
  height: 60px;
  display: none;
}

.sorter > .text > p {
  margin: 0.5em 5px 0px;
  width: calc(100%-10px);
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
}

/* Center action buttons that span the full sorter width */
.sorter > .center-actions {
  grid-column: 1 / 4;
  display: flex;
  gap: 5px;
  margin: 6px 0;
}

.sorter > .center-actions > .button {
  grid-column: auto;
  flex: 1 1 50%;
  padding: 8px;
  box-sizing: border-box;
}

/* Selected mode styling */
.sorter > .center-actions > .half.selected {
  background-color: #e0f0ff;
  border: 2px solid #3b82f6;
}

.sorter > .center-actions > .half {
  text-align: center;
  cursor: pointer;
}

.sorter > .left {
  grid-column: 1 / 2;
  border: 1px solid #000000;
}

.sorter > .right {
  grid-column: 3 / 4;
  border: 1px solid #000000;
}

.options {
  margin: 1em auto;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 450px;
}

.options > div {
  font-size: 0.5625em;
}

label {
  cursor: pointer;
}

label:hover {
  color: #990000;
}

.options > .large.option, .options > hr {
  grid-column: span 3;
  text-align: center;
  width: 100%;
}

.image.selector {
  margin-top: 0.5em;
  width: 500px;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.time.taken {
  margin-top: 0.5em;
  width: 500px;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.results {
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 80%;
  margin: 2em auto;
}

.podiums-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  margin: 2em auto;
  flex-wrap: wrap;
}

.podium-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 300px;
}

.podium-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  min-height: 300px;
  width: 100%;
}

.podium-top {
  order: 1;
}

.podium-bottom {
  order: 2;
}

.podium-lorem {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.podium-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px;
}

.podium-item img {
  width: 120px;
  height: 180px;
  object-fit: contain;
  margin: 5px 0;
}

.podium-rank {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.podium-name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px 0;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.podium-points {
  font-size: 1.2em;
  color: #0c0c0c;
}

.podium-middle {
  order: 2;
  transform: scale(1.1);
  z-index: 3;
  background-color: #ffd700;
}

.podium-left {
  order: 1;
  z-index: 2;
  background-color: #c0c0c0;
}

.podium-right {
  order: 3;
  z-index: 1;
  background-color: #cd7f32;
}

.podium-bottom .podium-middle {
  background-color: #ff2727;
}

.podium-bottom .podium-left {
  background-color: #897e7e;
}

.podium-bottom .podium-right {
  background-color: #4b4b4b;
}

.rest-header {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

@media all and (min-width: 600px) {
  .results {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  
  .results > .result.image {
    margin-bottom: 5px;
    margin-right: 5px;
  }
  
  .results > .podium-container {
    flex-basis: 100%;
  }
  
  .results > .rest-header {
    flex-basis: 100%;
  }
}

@media all and (max-width: 600px) {
  .results {
    flex-flow: column nowrap;
  }
  
  .podium-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .podium-middle {
    order: 1;
    transform: scale(1);
  }
  
  .podium-left {
    order: 2;
  }
  
  .podium-right {
    order: 3;
  }
}

.result {
  height: 15px;
  margin-bottom: -1px;
  display: grid;
  width: 211px;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #000;
  margin-right: 5px;
}

.result.image {
  height: 175px;
}

.result.image img {
  height: 160px;
}

.result.spacer {
  height: 1px;
  background-color: #000;
}

.result.head {
  background-color: #000;
  color: #FFF;
}

.result > .left {
  width: 35px;
  padding: 1px 3px 1px 0.5em;
  grid-column: 1 / 2;
  text-align: right;
}

.result.image .left {
  position: relative;
}

.result.image > .left span {
  position: absolute;
  top: 50%;
  right: 3px;
  margin-top: -0.375em;
}

.result > .right {
  width: 160px;
  padding: 1px 0em 1px 0em;
  grid-column: 2 / 3;
  border-left: 1px solid #000;
  text-align: center;
}

.info {
  margin: 2em auto 3em;
  display: block;
  text-align: center;
  font-size: 0.6875em;
  width: 80%;
  line-height: 1.2em;
}

a {
  color: #990000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #FF6600;
}

a:visited {
  color: #6600FF;
}